.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 24px auto;
}

.title {
  color: #18181b;
  margin-bottom: 18px;
  max-width: 500px;
  text-align: center;
}

.description {
  color: #4b5563;
  line-height: 1.5;
  max-width: 700px;
  text-align: center;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 700px;
  gap: 12px;
}
